<div class="container mt-5">
        <form [formGroup]="form">
            <div class="row">
                <div class="mb-3 col-lg-6">
                    <label for="exampleInputEmail1" class="form-label">Nombre</label>
                    <input type="text" [(ngModel)]="product.nameProduct" class="form-control" id="nameProduct" formControlName="nameProduct">
                </div>
                <div class="mb-3 col-lg-6">
                    <label for="exampleInputPassword1" class="form-label">Referencia</label>
                    <input type="text"  [(ngModel)]="product.referency" class="form-control" id="referency" formControlName="referency">
                </div>
                <div class="mb-3 col-lg-6">
                    <label for="exampleInputPassword1" class="form-label">Precio</label>
                    <input type="number"  [(ngModel)]="product.price" class="form-control" id="price" formControlName="price">
                </div>
                <div class="mb-3 col-lg-6">
                    <label for="exampleInputPassword1" class="form-label">Peso</label>
                    <input type="number"  [(ngModel)]="product.weight" class="form-control" id="weight" formControlName="weight">
                </div>
                <div class="mb-3 col-lg-6">
                    <label for="exampleInputPassword1" class="form-label">Stock</label>
                    <input type="number"  [(ngModel)]="product.stock"  class="form-control" id="stock" formControlName="stock">
                </div>
                <div class="mb-3 col-lg-6">
                    <label for="exampleInputPassword1" class="form-label">Categoria</label>
                    <input type="number"  [(ngModel)]="product.idCategory"class="form-control" id="category" formControlName="category">
                </div>
            </div>
        </form>
    <button type="submit" class="btn btn-primary" (click)="saveProduct()" *ngIf="updateBoolean==false">Guardar</button>
    <button type="submit" class="btn btn-primary" (click)="editProduct()" *ngIf="updateBoolean==true">Editar</button>
</div>
