<div class="container mt-5">
        <form [formGroup]="form">
            <div class="row">
                <div class="mb-3 col-lg-6">
                    <label for="exampleInputEmail1" class="form-label">Nombre</label>
                    <input type="text" [(ngModel)]="product.nameProduct" class="form-control" id="nameProduct" formControlName="nameProduct">
                </div>
                <div class="mb-3 col-lg-6">
                    <label for="exampleInputPassword1" class="form-label">Referencia</label>
                    <input type="text"  [(ngModel)]="product.referency" class="form-control" id="referency" formControlName="referency">
                </div>
                <div class="mb-3 col-lg-6">
                    <label for="exampleInputPassword1" class="form-label">Precio</label>
                    <input type="number"  [(ngModel)]="product.price" class="form-control" id="price" formControlName="price">
                </div>
                <div class="mb-3 col-lg-6">
                    <label for="exampleInputPassword1" class="form-label">Peso</label>
                    <input type="number"  [(ngModel)]="product.weight" class="form-control" id="weight" formControlName="weight">
                </div>
                <div class="mb-3 col-lg-6">
                    <label for="exampleInputPassword1" class="form-label">Stock</label>
                    <input type="number"  [(ngModel)]="product.stock"  class="form-control" id="stock" formControlName="stock">
                </div>
                <select class=" mb-3 col-lg-6" style="border: none;">
                    <option *ngFor="let item of categories">{{item.category}}</option>
                </select>
            </div>
        </form>
        <div class="alert alert-danger" role="alert" *ngIf="validationAlert">
            {{alert}}
        </div>
    <button type="submit" class="btn btn-primary" *ngIf="!validateButton" (click)="saveProduct()" >Guardar</button>
    <button type="submit" class="btn btn-primary" *ngIf="validateButton" (click)="editProduct()" >Editar</button>
    <button type="button" class="btn btn-secondary" *ngIf="validateButton" (click)="cancel()">Cancelar</button>
</div>
